/* Remove default browser spacing */
* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: rgba(178, 155, 175); /* your app background */
}
